@media only screen and (min-width: 375px) and (max-width:768px) {
  .sales {
    margin-top: -150px !important;

    img {
      height: auto;
      width: 350px;
    }

    h1 {
      font-size: 28px;
      line-height: 30px;
    }

    p {
      font-size: 13px;
    }
  }

  // menufood
  .optionfood {

    li {
      font-size: 12px;
    }
  }

  img.gambarkecil {
    height: auto;
    width: 200px;
  }

  // review
  .review {
    margin-top: 100px;

    img {
      height: auto;
      width: 100px;
    }

    p.text-review {
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
    }
  }

  .imgfloat {
    margin-left: 40px;
  }

  // angka statistik
  #stats {
    display: grid;
    margin-left: -100px;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
      display: inline-block;
    }
  }

  // download aplikasi
  .appfood {
    h1 {
      font-size: 32px !important;
      line-height: 35px !important;
    }

    p {
      font-size: 18px !important;
      line-height: 35px !important;
    }

    .imgapp img {
      width: 270px;
      margin-bottom: 10px;
    }
  }

  .kaki {
    height: 10px;
  }

  .header-kaki {
    margin-bottom: 10px;
    text-align: center;

    img {
      width: 200px;
    }

    h5 {
      font-weight: bolder;
    }
  }


  .footerbw {
    p {
      font-size: 11px;
    }
  }
}