// ukuran hp sekarang (6 inc ke atas)
@media only screen and (min-width: 547px) {
  .sales {

    img {
      height: auto;
      width: 450px;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }

  .optionfood {
    li {
      font-size: 18px;
    }
  }

  img.gambarkecil {
    height: auto;
    width: 235px;
  }

  .review {
    margin-top: 100px;

    img {
      height: auto;
      width: 100px;
    }

    .text-review {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
    }

    .imgfloat {
      margin-left: 70px;
    }
  }

  .angka {
    margin-top: -10px;
  }

  #stats {
    display: grid;
    margin-left: -100px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
      display: inline-block;
    }
  }

  .imgapp {
    img {
      margin-bottom: 10px;
    }
  }

  .kaki {
    height: 10px;
  }

  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box !important;

    h5 {
      font-weight: bolder;
    }
  }

  .footerbw {
    p {
      font-size: 14px;
    }
  }
}