// ukuran hp sekarang (6 inc ke atas)
@media only screen and (min-width: 769px) and (max-width:992px) {
  .imgfloat {
    margin-left: 150px;
  }

  #stats {
    display: grid;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .angka {
    margin-top: -10px;
  }

  .appfood {
    padding-left: 180px;
  }

  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box !important;

    h5 {
      font-weight: bolder;
    }
  }

  .footerbw {
    p {
      font-size: 14px;
    }
  }
}