@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
.btn-master, .btn-light, .btn-secondary {
  border-radius: 40px 40px 20px 20px;
  font-weight: 500;
  padding: 10px 25px;
}

.btn-light {
  color: #272042;
  background: #FBE0DC;
  margin-left: 52px;
}

.btn-secondary {
  background: #F7C531;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.navbar-tp {
  padding-top: 40px;
}

.navbar-tp .navbar-nav li {
  padding-left: 25px;
}

.navbar-tp .navbar-nav .active {
  color: #272042 !important;
  font-weight: 500 !important;
}

.navbar-tp .navbar-nav .nav-link {
  color: #8B8BA5;
  font-weight: 400;
}

.sales {
  padding-top: 100px;
}

.sales .copywriting {
  padding-right: 100px;
}

.header {
  font-weight: 600;
  color: #272042;
  font-size: 46px;
  line-height: 60px;
  margin-top: 110px;
}

.description {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8B8BA5;
}

.optionfood {
  margin-top: 80px;
}

.optionfood .judul {
  font-size: 20px;
}

.optionfood .judultengah {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.optionfood .list-menu {
  font-size: 20px;
}

.optionfood ul {
  list-style: none;
}

.optionfood ul .list-food {
  color: #F7C531;
}

.optionfood ul li {
  display: inline;
  padding-left: 20px;
}

.optionfood .gambarkecil {
  margin-top: 50px;
  margin-left: 10px !important;
}

.dfood {
  margin-top: 30px;
  margin-left: 20px;
  color: #272042;
}

.chef {
  margin-left: 20px;
  margin-top: -15px;
  color: #8B8BA5;
}

P.bintang {
  margin-left: 20px;
}

P.bintang i {
  margin-left: 5px;
  color: #F7C531;
}

.review {
  margin-top: 50px;
}

.review .text-review {
  margin-top: -100px;
  line-height: 50px;
  font-size: 36px;
  font-weight: 400;
  color: #272042;
}

.review .imgfloat {
  margin-top: 25px;
}

.review .imgfloat .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.review .imgfloat .description .namechief {
  font-size: 22px;
  font-weight: 500;
  color: #272042;
}

.review .imgfloat .description .jobchief {
  font-size: 16px;
  margin-top: -20px;
  color: #8B8BA5;
}

.review .feature-image {
  width: 90px;
  float: left;
}

.section-stats {
  margin-top: 25px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  padding-left: 40px;
  margin-left: 60px;
}

.section-stats h2 {
  font-size: 32px;
  font-weight: 700;
  color: #272042;
}

.section-stats p {
  font-size: 20px;
  color: #8B8BA5;
  text-transform: uppercase;
}

.appfood {
  margin-top: 100px;
}

.appfood h1 {
  font-size: 46px;
  line-height: 70px;
  font-weight: bold;
  color: #272042;
  padding-bottom: 10px;
}

.appfood p {
  font-size: 20px;
  line-height: 34px;
  color: #8B8BA5;
  margin-bottom: 50px;
}

.appfood .imgapp {
  padding-top: 100px;
  padding-left: 50px;
}

.Kaki {
  margin-top: 1000px;
}

.Kaki h5 {
  color: #272042;
  font-weight: 500;
  font-size: 22px;
}

.Kaki ul {
  color: #8B8BA5;
  font-size: 18px;
}

.Kaki .footerbw {
  font-size: 16px;
}

@media only screen and (min-width: 375px) {
  .sales {
    margin-top: -150px !important;
  }
  .sales img {
    height: auto;
    width: 350px;
  }
  .sales h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .sales p {
    font-size: 13px;
  }
  .optionfood li {
    font-size: 12px;
  }
  img.gambarkecil {
    height: auto;
    width: 200px;
  }
  .review {
    margin-top: 100px;
  }
  .review img {
    height: auto;
    width: 100px;
  }
  .review .text-review {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 40px;
  }
  .review .imgfloat {
    margin-left: 50px;
  }
  #stats {
    display: -ms-grid;
    display: grid;
    margin-left: -100px;
  }
  #stats h2 {
    font-size: 20px;
  }
  #stats p {
    font-size: 12px;
    display: inline-block;
  }
  .imgapp img {
    width: 270px;
    margin-bottom: 10px;
  }
  .kaki {
    height: 10px;
  }
  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
  .header-kaki img {
    width: 200px;
  }
  .header-kaki h5 {
    font-weight: bolder;
  }
  .footerbw p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 547px) {
  .sales {
    margin-top: -150px !important;
  }
  .sales img {
    height: auto;
    width: 450px;
  }
  .sales h1 {
    font-size: 40px;
  }
  .sales p {
    font-size: 18px;
  }
  .optionfood li {
    font-size: 18px;
  }
  img.gambarkecil {
    height: auto;
    width: 235px;
  }
  .review {
    margin-top: 100px;
  }
  .review img {
    height: auto;
    width: 100px;
  }
  .review .text-review {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
  }
  .review .imgfloat {
    margin-left: 70px;
  }
  .angka {
    margin-top: -10px;
  }
  #stats {
    display: -ms-grid;
    display: grid;
    margin-left: -100px;
  }
  #stats h2 {
    font-size: 25px;
  }
  #stats p {
    font-size: 16px;
    display: inline-block;
  }
  .imgapp img {
    width: 400px;
    margin-bottom: 10px;
  }
  .kaki {
    height: 10px;
  }
  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
  .header-kaki h5 {
    font-weight: bolder;
  }
  .footerbw p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 547px) {
  .sales img {
    height: auto;
    width: 450px;
  }
  .sales h1 {
    font-size: 40px;
  }
  .sales p {
    font-size: 18px;
  }
  .optionfood li {
    font-size: 18px;
  }
  img.gambarkecil {
    height: auto;
    width: 235px;
  }
  .review {
    margin-top: 100px;
  }
  .review img {
    height: auto;
    width: 100px;
  }
  .review .text-review {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
  }
  .review .imgfloat {
    margin-left: 70px;
  }
  .angka {
    margin-top: -10px;
  }
  #stats {
    display: -ms-grid;
    display: grid;
    margin-left: -100px;
  }
  #stats h2 {
    font-size: 30px;
  }
  #stats p {
    font-size: 20px;
    display: inline-block;
  }
  .imgapp img {
    margin-bottom: 10px;
  }
  .kaki {
    height: 10px;
  }
  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
  .header-kaki h5 {
    font-weight: bolder;
  }
  .footerbw p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .sales {
    margin-top: 50px;
  }
  .sales h1 {
    line-height: 50px;
  }
  .review {
    margin-top: 50px;
  }
  .review img {
    width: 100px;
    margin-left: 70px;
  }
  .review .text-review {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
  .review .imgfloat {
    margin-left: 100px;
  }
  .angka {
    margin-top: -10px;
  }
  .imgapp img {
    margin-bottom: 10px;
  }
  .appfood img {
    padding-left: 180px;
  }
  .kaki {
    height: 10px;
  }
  .header-kaki {
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
  .header-kaki h5 {
    font-weight: bolder;
  }
  .footerbw p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */