@import './colors';
@import './buttons';
@import './typo';
@import './376';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.navbar-tp {
  padding-top: 40px;

  .navbar-nav {
    li {
      padding-left: 25px;
    }

    .active {
      color: $hitam !important;
      font-weight: map-get($font-weight, medium) !important;
    }

    .nav-link {
      color: $abu;
      font-weight: map-get($font-weight, regular);
    }
  }
}

.sales {
  padding-top: 100px;

  .copywriting {
    padding-right: 100px;
  }
}

.header {
  font-weight: map-get($font-weight, semibold);
  color: $hitam;
  font-size: 46px;
  line-height: 60px;
  margin-top: 110px;
}

.description {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  font-weight: map-get($font-weight, regular);
  color: $abu;
}

.optionfood {
  margin-top: 80px;

  .judul {
    font-size: 20px;
    font-weight: map-get($font-weight, reguler);
  }

  .judultengah {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: map-get($font-weight, bold);
  }

  .list-menu {
    font-size: 20px;
    font-weight: map-get($font-weight, reguler);
  }

  ul {
    list-style: none;

    .list-food {
      color: $emas;
    }

    li {
      display: inline;
      padding-left: 20px;
    }
  }

  .gambarkecil {
    margin-top: 50px;
    margin-left: 10px !important;
  }
}

.dfood {
  margin-top: 30px;
  margin-left: 20px;
  color: $hitam;
}

.chef {
  margin-left: 20px;
  margin-top: -15px;
  color: $abu;
}

P.bintang {
  margin-left: 20px;

  i {
    margin-left: 5px;
    color: $emas;
  }
}

.review {
  margin-top: 50px;

  .text-review {
    margin-top: -100px;
    line-height: 50px;
    font-size: 36px;
    font-weight: 400;
    color: $hitam;
  }

}

.imgfloat {
  margin-top: 25px;

  .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;

    .namechief {
      font-size: 22px;
      font-weight: map-get($font-weight, medium);
      color: $hitam;
    }

    .jobchief {
      font-size: 16px;
      margin-top: -20px;
      color: $abu;
    }
  }

  .feature-image {
    width: 90px;
    float: left;
  }
}



.section-stats {
  margin-top: 25px;

  .stats-detail {
    padding-top: 15px;
    padding-left: 40px;
    margin-left: 60px;
  }

  h2 {
    font-size: 32px;
    font-weight: map-get($font-weight, bold);
    color: $hitam;
  }

  p {
    font-size: 20px;
    color: $abu;
    text-transform: uppercase;
  }
}

.appfood {
  margin-top: 100px;

  h1 {
    font-size: 46px;
    line-height: 70px;
    font-weight: bold;
    color: $hitam;
    padding-bottom: 10px;
  }

  p {
    font-size: 20px;
    line-height: 34px;
    color: $abu;
    margin-bottom: 50px;
  }

  .imgapp {
    padding-top: 100px;
    padding-left: 50px;
  }
}

.Kaki {
  margin-top: 1000px;

  h5 {
    color: $hitam;
    font-weight: map-get($font-weight, medium);
    font-size: 22px;
  }

  ul {
    color: $abu;
    font-size: 18px;
  }

  .footerbw {
    font-size: 16px;
  }
}